# Répertoires de stockage des bytecodes Python
__pycache__/
*/__pycache__/

# Bases de données
*.db
*.db-journal
*.db-shm
*.db-wal

# Fichiers log
*.log

# Configuration du serveur modifiée
/server/parameters.py

# Configuration Apache2 modifiée
/configs/apache2.conf

# Configuration Systemd modifiée
/configs/artist-on-twitter.service

# Dumps MySQL
/backups/*.sql
