numpy
urllib3
opencv-python-headless # opencv-python mais sans les fonctionnalités de GUI
imutils
mysql-connector-python
requests
tweepy
beautifulsoup4
Pyro4
-e git+https://github.com/JustAnotherArchivist/snscrape.git#egg=snscrape
python-dateutil
pillow
psutil
