[Unit]
Description = Artists on Twitter Finder
After = screen-cleanup.service network-online.target mysql.service
Requires = mysql.service

[Service]
Type = forking
User = username
ExecStart = screen -dmS twitter /usr/bin/python3 /path/to/Artists_on_Twitter_Finder/server/app.py

[Install]
WantedBy = multi-user.target
